<!-- user_profile.html -->

{% extends 'feed/base.html' %} {% block title %}User Profile - {{ user.username
}}{% endblock %} {% block content %}
<div class="container">
	<div class="userprofile-container">
    <div class="cover-container">
        {% if user.userprofile.cover_pic %}
            <div class="cover-pic" style="background-image: url('{{ user.userprofile.cover_pic.url }}')"></div>
        {% else %}
            <div class="empty-cover-pic"></div>
        {% endif %}
        <div class="profile-pic-container">
            {% if user.userprofile.profile_pic %}
                <img
                    src="{{ user.userprofile.profile_pic.url }}"
                    alt="{{ user.username }}'s Profile Picture"
                    class="userprofile-pic"
                />
            {% else %}
                <div class="empty-profile-pic"></div>
            {% endif %}
        </div>
    </div>
		<div class="profile-info">
			<h2>{{ user.username }}</h2>
			<p class="about-me"><b>Bio:</b> {{ user.userprofile.about_me }}</p>

			{% if user.is_authenticated and user == request.user %}
			<a
				href="{% url 'user_profile:change_profile_pic' username=user.username %}"
				class="btn btn-primary btn-sm"
				><i class="fa-regular fa-pen-to-square"></i> Profile Picture</a
			>
			{% endif %} 
			{% if user.is_authenticated and user == request.user %}
			<a
				href="{% url 'user_profile:change_cover_pic' username=user.username %}"
				class="btn btn-primary btn-sm"
				><i class="fa-regular fa-pen-to-square"></i> Cover Picture</a
			>
			{% endif %}

			<!-- Link to change profile picture -->
            {% if user.is_authenticated and user == request.user %} 
            {% if not user.userprofile.about_me %}
			<a
				href="{% url 'user_profile:about_me' username=user.username %}"
				class="btn btn-primary btn-sm"
				>Add Bio</a
			>
			{% else %}
			<a
				href="{% url 'user_profile:about_me' username=user.username %}"
				class="btn btn-primary btn-sm"
				><i class="fa-regular fa-pen-to-square"></i> Bio</a
			>
			{% endif %} {% else %} {% endif %}
		</div>
	</div>
	<!-- Navigation Buttons -->
	<div class="horizontal-buttons">
		<div class="btn-group navbar" role="group" aria-label="User Navigation">
			<!-- Add unique IDs to each link for identification -->
			<a
				href="#"
				id="posts-link"
				class="btn btn-secondary border border-secondary px-4 border"
				>Posts</a
			>
			<a
				href="{% url 'your_friends' %}"
				id="friends-link"
				class="btn btn-secondary px-4 border"
				>Friends</a
			>
			<a href="{% url 'feed' %}" id="feed-link" class="btn btn-secondary px-4"
				>Feed</a
			>
			<a href="#" id="chat-link" class="btn btn-secondary px-4 border">Chat</a>
		</div>
	</div>
</div>

<!-- Container to display loaded content -->
<div id="content-container" class="container-fluid w-100">
</div>
	<pre> 



	</pre>

<!-- JavaScript to handle link clicks and load content -->
<script>
	$(document).ready(function () {
		// Event handlers for link clicks
		$("#posts-link").click(function (e) {
			e.preventDefault();
			loadContent("{% url 'user_posts' %}");
		});

		$("#friends-link").click(function (e) {
			e.preventDefault();
			loadContent("{% url 'your_friends' %}");
		});

		$("#feed-link").click(function (e) {
			e.preventDefault();
			loadContent("{% url 'feed' %}");
		});

		// Function to load content using AJAX
		function loadContent(url) {
			$("#content-container").empty(); // Clear previous content
			$("#content-container").load(url); // Load content from the specified URL
		}
	});
</script>

<script>
	// JavaScript logic (for redirecting to 'About Me' page)
	document.getElementById('about-me').addEventListener('click', function () {
	    {% if user.is_authenticated %}
	        window.location.href = "{% url 'user_profile:about_me' username=user.username %}";
	    {% else %}
	        alert('You need to be logged in to edit your About Me.');
	    {% endif %}
	});
</script>
{% endblock %}
