{% extends 'feed/base.html' %}

{% load static %}

{% block title %}Friends and Suggestions{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2>Friends</h2>
            </div>
            <div class="col-md-6 text-center">
                <h2>Suggestions</h2>
            </div>
        </div>

        <div class="row mt-3 d-flex justify-content-center align-items-center">
            <div class="col-md-3">
                <form method="post" action="{% url 'suggestions' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary friends-button">Suggestions</button>
                </form>
            </div>
            <div class="col-md-3">
                <form method="post" action="{% url 'your_friends' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary friends-button">Your Friends</button>
                </form>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <h3>Your Friends</h3>
                <div class="friends-container">
                    {% for friend in your_friends_list %}
                        <div class="friend-tile">
                            <a href="{% url 'user_profile' username=friend.friend.username %}">
                                {% if friend.friend.userprofile.profile_pic %}
                                    <img src="{{ friend.friend.userprofile.profile_pic.url }}" alt="{{ friend.friend.username }}'s Profile Picture" class="profile-pic">
                                {% else %}
                                    <img src="{% static 'profile_pics/default_profile_pic.jpg' %}" alt="{{ friend.friend.username }}'s Profile Picture" class="profile-pic">
                                {% endif %}
                                <h3>{{ friend.friend.username }}</h3>
                            </a>
                            <!-- Add the unfollow button here -->
                            <form method="post" action="{% url 'unfollow_user' user_id=friend.friend.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary friends-button">Unfollow</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6">
                <h3>Suggestions</h3>
                <div class="friends-container">
                    {% for suggestion in suggestion_list %}
                        <div class="friend-tile">
                            <a href="{% url 'user_profile' username=suggestion.user.username %}">
                                <img src="{{ suggestion.profile_pic.url }}" alt="{{ suggestion.user.username }}'s Profile Picture" class="profile-pic">
                                <h3>{{ suggestion.user.username }}</h3>
                            </a>
                            <form method="post" action="{% url 'follow_user' user_id=suggestion.user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary friends-button">Follow</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
