{% extends 'feed/base.html' %}

{% load static %}

{% block title %}home{% endblock %}

{% block content %}

<h2>User Profile</h2>

<h2 class="welcome-message"> Welcome, {{ user.username }}!</h2>

<div class="profile-container">
  <img src="{% static 'profile_pics/default_profile_pic.jpg' %}" alt="{{ user.username }}'s Profile Picture"class="profile-pic">

  <form method="post" action="{% url 'friends' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary friends-button">Friends</button>
  </form>
</div>  
  

{% endblock %}