{% extends 'feed/base.html' %} 
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="border shadow w-25 p-3 d-flex flex-column justify-content-center align-items-center rounded bg-light">
        <h2>Delete Post</h2>
        <p>Are you sure you want to delete this post?</p>
        <form method="post">
            {% csrf_token %}
            <button
				type="button"
				class="btn btn-secondary"
				onclick="cancelDelete()"
			>Cancel</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
<script>
    function cancelDelete() {
        // Use JavaScript to navigate back without form submission
        window.history.back();
    }
</script>
{% endblock %}
